// VARIABLES
$color-lightGrey: #e5e5e5;
$color-mediumGrey: #d1d1d1;
$color-backgroundOne: #4a00e0;
$color-backgroundTwo: #21d4fd;
$color-accent: #ffc300;
$filter-accent: invert(62%) sepia(100%) saturate(475%) hue-rotate(2deg)
  brightness(156%) contrast(103%);

// Screen steps for responsive
$screen-small: 600px;
$screen-medium: 912px;
$screen-normal: 1200px;
$screen-large: 1242px;

// RESPONSIVE MIXIN FUNCTIONS

@mixin small {
  @media (max-width: #{$screen-small}) {
    @content;
  }
}
@mixin medium {
  @media (max-width: #{$screen-medium}) {
    @content;
  }
}
@mixin normal {
  @media (max-width: #{$screen-normal}) {
    @content;
  }
}
@mixin large {
  @media (max-width: #{$screen-large}) {
    @content;
  }
}

// IMPORTS
@import "./loader";
@import "./movieDetails";
@import "./moviesList";
@import "./navBar";
@import "./searchBar";
@import "./mobileSearch";
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
// GENERAL CSS

body {
  background-color: black;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-size: 1.3rem;
}
